
.cardTeam .card{
    width: 20%;
}

.cardTeam img, .detail img{
    width: 5rem;
}

.cardTeam button{
    font-size: smaller;
}

.search .btn{
    padding: 0.5 0 !important;
}

.search input{
    font-size: small;
}